#menu {
	width: 40%;
	text-indent: 30px;
}

#menu ul.visible{
	display: list-item;
	list-style-type: none;
}

ul.mainmenu {
	list-style-type: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul.mainmenu > li::before {
	content: "> ";
}
ul.mainmenu > li {
	/*background-color: green;*/
}
ul.mainmenu > li:hover{
	/*background-color: blue;*/
	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

ul.submenu {
	display: none;
}