* {
    margin: 0;
    padding: 0;
}

#topbar {
    background-color: #C6E070;
    position: absolute;
    right: 0px;
    width: 90%;
    height: 47px;
}

#sidebar {
    position: absolute;
    background-color: #F2F2F2;
    width: 10%;
    height: 100%;
}

#logo {
    margin-left: 10px;
}

#navbar > ul {
    list-style-type: none;
}

#navbar li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#navbar li:active {
    background-color: #91C46c;
    color: #F2F2F2;
}

#navbar li:hover {
    background-color: #91C46C;
    color: #F2F2F2;
}

#navbar li:hover > a {
    color: #F2F2F2;
}

#navbar a:link {
    text-decoration: none;
    color: #91C46C;
}

#navbar a:visited {
    text-decoration: none;
    color: #91C46C;
}

#navbar a:hover {
    text-decoration: none;
}

#navbar a:active {
    text-decoration: none;
    color: #91C46C;
}

li#current {
    background-color: #91C46C;
    color: #F2F2F2;
}
