*{
	background-color: #FFFFFF;
}

ul#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 30px;
	padding-top: 20px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	border-top: 3px solid #DB1111;
	width: 60%;
	float: left;
}

ul#navbar li{
	display: inline;
	float: left;
	padding-left: 5px;
	padding-right: 1px;
	margin-left: 45px;
	margin-right: 15px;
}

a.navItem{
	display: block;
	width: 60px;
}

/* unvisited link */
a.navItem:link {
	color: #39199E;
    text-decoration: none;
}

/* visited link */
a.navItem:visited {
	color: #39199E;
    text-decoration: none;
}

/* mouse over link */
a.navItem:hover {
	opacity: 0.4;
	color: #39199E;
    text-decoration: none;
}

/* selected link */
a.navItem:active {
	color: #39199E;
    text-decoration: none;
}

div#header {
	width: 100%;
	top: 10px;
	position: fixed;
}